Repository jrschumacher/dis.quest: changes, and which lefthook commands are due for each by the changed paths.
All: format, generate-templ, generate-sqlc, lint, todos

format:
  run: goimports -w {staged_files}
  stage_fixed: true

generate-templ:
  run: templ generate
  stage_fixed: true

generate-sqlc:
  run: sqlc generate
  stage_fixed: true

lint:
  run: golangci-lint run --fix
  stage_fixed: true

todos:
  run: "if grep -rn \"TODO\\|FIXME\\|XXX\\|HACK\" {staged_files}; then\n  echo \"⚠️  Found TODO/FIXME comments in staged files\"\n  echo \"Consider addressing them before committing\"\nfi\n"
  fail_text: TODO/FIXME comments found

fix: address critical linting issues for CI compatibility
  cmd/gen-lexicons.go
  cmd/server.go
  cmd/util.go
  components/components_templ.go
  internal/auth/discover.go
  internal/db/db.go
  internal/db/models.go
  internal/db/querier.go
  internal/db/queries.sql.go
  server/auth-handlers/auth.go
  server/dot-well-known-handlers/well-known.go
  server/health-handlers/health.go
Due: format, lint, todos

docs: add comprehensive project documentation structure
  CLAUDE.md
  adr/0000-template.md
  adr/0001-core-discussion-structure.md
  docs/prd/core.md
  docs/prd/secure.md
Due: none

docs: update README with refined project overview
  README.md
Due: none

chore: update implementation plan
  implementation-plan.md
Due: none

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

chore: add Claude PR Assistant workflow (#14)
  .github/workflows/claude.yml
Due: none

chore: resolve lint issues
  cmd/gen-lexicons.go
  cmd/root.go
  internal/auth/auth.go
  internal/auth/session.go
  internal/config/config.go
  internal/db/driver.go
  internal/httputil/errors.go
  internal/logger/log_helpers.go
  internal/logger/logger.go
  internal/middleware/chain.go
  internal/middleware/examples.go
  internal/pds/pds.go
  internal/repository/message.go
  internal/svrlib/router.go
  internal/testutil/schema.go
  internal/testutil/testutil.go
  internal/validation/validation.go
  main.go
  pkg/atproto/jwt.go
  server/app/app.go
  server/app/app_test_helper.go
  server/auth-handlers/auth.go
  server/dot-well-known-handlers/well-known.go
  server/health-handlers/health.go
  server/server.go
Due: format, lint, todos

update golanglint-ci
  .github/workflows/ci.yml
Due: none

refine ci
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
Due: none

refine ci
  .github/workflows/conventional-commits.yml
Due: none

feat: complete Phase 0 development environment and testing infrastructure
  implementation-plan.md
  internal/auth/integration_test.go
  internal/auth/phase2_integration_test.go
  internal/pds/atproto.go
  internal/pds/atproto_test.go
  internal/pds/factory.go
  server/auth-handlers/integration_test.go
Due: format, lint, todos

Reduce burden
  .github/workflows/pr-title.yml
Due: none

feat: complete Phase 0 development environment and testing infrastructure (#16)
  .github/workflows/pr-title.yml
  implementation-plan.md
  internal/auth/integration_test.go
  internal/auth/phase2_integration_test.go
  internal/pds/atproto.go
  internal/pds/atproto_test.go
  internal/pds/factory.go
  server/auth-handlers/integration_test.go
Due: format, lint, todos

fix: auth has been fixed and upgraded
  .gitignore
  CLAUDE.md
  QUICKSTART.md
  README.md
  Taskfile.yml
  config.yaml.example
  docker-compose.yml
  fly.toml
  go.mod
  go.sum
  internal/auth/auth.go
  internal/auth/discover.go
  internal/auth/session.go
  internal/db/queries.sql
  internal/db/queries.sql.go
  internal/repository/topic.go
  migrations/001_initial_schema.sql
  server/app/app.go
  server/auth-handlers/auth.go
  server/dot-well-known-handlers/well-known.go
  sqlc.yaml
  tern.conf
Due: format, generate-sqlc, lint, todos

fix workflow for pr titles
  .github/workflows/pr-title.yml
Due: none

Fix lint issues
  CLAUDE.md
  internal/auth/auth.go
  internal/repository/topic.go
  server/app/app.go
Due: format, lint, todos

Clarify memory
  CLAUDE.md
Due: none

Align errors
  internal/auth/auth_test.go
  internal/auth/errors.go
  internal/auth/session.go
  internal/jwtutil/jwt.go
  internal/jwtutil/jwt_test.go
  internal/middleware/usercontext.go
  internal/repository/errors.go
  internal/repository/topic.go
  internal/repository/topic_test.go
Due: format, lint, todos

fix prtitle workflow
  .github/workflows/pr-title.yml
Due: none

fix: auth fixes and housecleaning (#17)
  .github/workflows/pr-title.yml
  .gitignore
  CLAUDE.md
  QUICKSTART.md
  README.md
  Taskfile.yml
  config.yaml.example
  docker-compose.yml
  fly.toml
  go.mod
  go.sum
  internal/auth/auth.go
  internal/auth/auth_test.go
  internal/auth/discover.go
  internal/auth/errors.go
  internal/auth/session.go
  internal/db/queries.sql
  internal/db/queries.sql.go
  internal/jwtutil/jwt.go
  internal/jwtutil/jwt_test.go
  internal/middleware/usercontext.go
  internal/repository/errors.go
  internal/repository/topic.go
  internal/repository/topic_test.go
  migrations/001_initial_schema.sql
  server/app/app.go
  server/auth-handlers/auth.go
  server/dot-well-known-handlers/well-known.go
  sqlc.yaml
  tern.conf
Due: format, generate-sqlc, lint, todos

chore: improve ci speed
  .github/actions/setup-tools/action.yml
  .github/workflows/ci.yml
  CLAUDE.md
  Taskfile.yml
Due: none

chore: improve ci speed (#18)
  .github/actions/setup-tools/action.yml
  .github/workflows/ci.yml
  CLAUDE.md
  Taskfile.yml
Due: none

feat: add datastar and styling
  Taskfile.yml
  assets/css/style.css
  components/components.templ
  components/components_templ.go
  internal/middleware/chain.go
  internal/middleware/middleware.go
  server/app/app.go
  server/server.go
Due: format, generate-templ, lint, todos

Working like
  components/components.templ
  components/components_templ.go
  go.mod
  go.sum
  internal/middleware/chain.go
  server/app/app.go
  server/auth-handlers/auth.go
  server/server.go
Due: format, generate-templ, lint, todos

Update memory
  CLAUDE.md
Due: none

Refactor
  internal/middleware/chain.go
  internal/middleware/middleware.go
  internal/middleware/routes.go
  server/app/app.go
  server/app/messages.go
  server/app/pages.go
  server/app/topics.go
Due: format, lint, todos

WIP on ATProtocol PDS writing
  CLAUDE.md
  components/components.templ
  components/components_templ.go
  components/dev_pds.templ
  components/dev_pds_templ.go
  internal/auth/auth.go
  internal/auth/session.go
  internal/db/db.go
  internal/db/querier.go
  internal/db/queries.sql
  internal/db/queries.sql.go
  internal/pds/atproto.go
  internal/pds/lexicons.go
  internal/pds/pds.go
  internal/pds/xrpc.go
  server/app/app.go
  server/app/dev.go
  server/app/messages.go
  server/app/pages.go
  server/app/topics.go
  server/auth-handlers/auth.go
  server/server.go
Due: format, generate-templ, generate-sqlc, lint, todos

e2e auth and post solution
  CLAUDE.md
  components/dev_pds.templ
  components/dev_pds_templ.go
  config.yaml.example
  docs/CUSTOM_LEXICON_SUCCESS.md
  docs/OAUTH_DPOP_IMPLEMENTATION.md
  go.mod
  go.sum
  internal/auth/auth.go
  internal/auth/par.go
  internal/auth/session.go
  internal/config/config.go
  internal/oauth/factory.go
  internal/oauth/manual.go
  internal/oauth/provider.go
  internal/oauth/service.go
  internal/oauth/tangled.go
  internal/oauth/tangled.go.disabled
  internal/pds/atproto.go
  internal/pds/xrpc.go
  lexicons/quest/dis/message.json
  lexicons/quest/dis/participation.json
  lexicons/quest/dis/topic.json
  server/app/dev.go
  server/auth-handlers/auth.go
  server/server.go
Due: format, generate-templ, lint, todos

PDS browser
  CLAUDE.md
  components/dev_pds.templ
  components/dev_pds_templ.go
  internal/auth/auth.go
  internal/middleware/token_refresh.go
  internal/oauth/tangled.go
  server/app/app.go
  server/app/dev.go
Due: format, generate-templ, lint, todos

Start refactoring into /pkg/atproto
  components/dev_pds.templ
  components/dev_pds_templ.go
  go.mod
  internal/auth/session.go
  internal/middleware/token_refresh.go
  internal/middleware/usercontext.go
  internal/oauth/provider.go
  internal/oauth/tangled.go
  internal/pds/xrpc.go
  pkg/IMPLEMENTATION_PLAN.md
  pkg/atproto/README.md
  pkg/atproto/client.go
  pkg/atproto/examples/simple-auth/main.go
  pkg/atproto/go.mod
  pkg/atproto/go.sum
  pkg/atproto/oauth/dpop.go
  pkg/atproto/oauth/oauth.go
  pkg/atproto/session.go
  pkg/atproto/xrpc/client.go
  pkg/atproto/xrpc/resolver.go
  server/app/app_test_helper.go
  server/app/dev.go
  server/app/topics_integration_test.go
  server/auth-handlers/auth.go
Due: format, generate-templ, lint, todos

Wrap up auth refactor
  CLAUDE.md
  compilation_test.go
  internal/auth/auth.go.backup
  internal/auth/auth_test.go
  internal/auth/compat.go
  internal/auth/discover.go.backup
  internal/auth/errors.go
  internal/auth/par.go.backup
  internal/auth/session.go.backup
  internal/auth/session_wrapper.go
  internal/jwtutil/jwt.go
  internal/jwtutil/jwt_test.go
  internal/lexicons/compat.go
  internal/lexicons/dev_stubs.go
  internal/lexicons/quest_dis.go
  internal/lexicons/service.go
  internal/middleware/middleware.go
  internal/middleware/token_refresh.go
  internal/middleware/usercontext.go
  internal/pds/atproto.go
  internal/pds/lexicons.go
  internal/pds/pds.go
  internal/pds/pds_test.go
  internal/pds/xrpc.go
  internal/web/cookies.go
  internal/web/session.go
  pkg/atproto/jwt/doc.go
  pkg/atproto/jwt/parser.go
  pkg/atproto/jwt/parser_test.go
  pkg/atproto/pds/client.go
  server/app/app.go
  server/app/app_test_helper.go
  server/app/dev.go
  server/app/messages.go
  server/app/topics.go
  server/auth-handlers/auth.go
  server/dot-well-known-handlers/well-known.go
  server/server.go
Due: format, lint, todos

fix tests
  .golangci.yml
  internal/lexicons/compat.go
  internal/lexicons/quest_dis.go
  internal/lexicons/service.go
  internal/middleware/token_refresh.go
  server/app/dev.go
  server/auth-handlers/auth.go
Due: format, lint, todos

Path conditions:
  format: any of: *.go
  generate-templ: any of: *.templ
  generate-sqlc: any of: internal/db/queries.sql
  lint: any of: *.go
  todos: any of: *.{go,templ,sql}
